:root 
{
    /*Colors*/
    --primary-color: white;
    --sec-color: #d98100;
    --acc1-color: #aba597;
    --acc2-color: #4b85a8;
    --acc3-color: #E9C277;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;

}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: visible;
    background-color: var(--primary-color) ;
    
}

.logo img {
    height: 200px;
    margin: 0 auto;
}

.navLeft, .navRight {
    display: flex;
    width: 100%;
    background-color: var(--primary-color) ;
    vertical-align: center;
    justify-content: space-around; 

}

.navLeft i, .navRight i {
    padding: 10px;
    color: var(--sec-color)
}


.navbar ul {
    list-style: none;
}

.navbar ul li {
     Float: left;
     margin: auto;

}


.navbar li span {
    color: var(--acc3-color);

}

.navbar a:link {
    text-decoration: none;
}



